H3 {
    Background-color: #000000;
    font-size: 15px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    line-height: 10px;
    text-align: center;
    color: #000000;
    border: solid #000000 5px;
    height: 6mm;
    width: 5.5cm;
    border-radius: 45%;
    }
    
